*{
	margin:0;
	padding:0;

}
ul,li,ol{
	list-style: none;
}

.daohang{
	width:1200px;
	height:60px;
	margin: 0 auto;
}
.daohang img{
	float:left;
}
.daohang p{
	color:#0b4199;
	font-family: '微软雅黑'；
	font-size:22px;
	display: inline-block;
	margin-top:20px;
	margin-left: 186px;
	margin-right: 28px;


}
.daohang ul{
	margin-top: 20px;
	margin-right: 0px;
}
.b{

	float:left;
}
.b li{

	display: inline-block;
	color:#7d7d7d;
	font-size: 16px;

}


ul .red{
	color:red;
	margin-left:10px;

}
 .c{
	border-left: 1px solid #7d7d7d;
	width: 56px;
	text-align: center;
}
.caidan{
	width:1200px;
	height:50px;
	margin: 0 auto;
	
}
.caidan ul{
	height:50px;
	width:944px;
}
.caidan img{
	margin-top: 6px;
}
.d{
	float:left;
}


.d li{
	display: inline-block;
	height:50px;
	width:80px;
	text-align: center;
	line-height: 45px;
	margin-right:28px; 
}
.d li:hover{
	background-color: #2756a4;
	
}
.d a{

    
	color:#434343;
	text-decoration:none;
	font:16px '微软雅黑';
	
}
.d a:hover{
	color:white;
}
.zhengti{
	width:100%;
	height:2198px;
	background: #e9eaee;
}
.datu{
	width:100%;
}
.zhengti .piaofu{
	position: fixed;
	right:1px;
	top:164px;
}
.piaofu .ab{
	background: #8d8d8d;
	border-bottom:1px dotted #ffffff; 
	width:84px;
	height:80px;
}
.piaofu .ac{
	background: #b0b0b0;
	border-bottom:1px dotted #ffffff; 
	width:84px;
	height:80px;
}
.ad{
	background: #b0b0b0;
	border-bottom:1px dotted #ffffff; 
	width:84px;
	height:64px;
}
.ad a{
	width:84px;
	height:18px;
	display: inline-block;
	font: 10px '微软雅黑';
	color:#8d8d8d;
	text-decoration:none;
	background: #a4a4a4;
}

.ab img{
	margin-top: 10px;
	margin-left: 20px;
}
.ac img{
	margin-top: 10px;
	margin-left: 20px;
}
.ad img{
	margin-top: 20px;
	margin-left: 26px;
	margin-bottom: 10px;
}
.ab a{
	display: inline-block;
	font: 14px '微软雅黑';
	color:#ffffff;
	margin-left: 14px;
	text-decoration:none;
}
.ac a{
	display: inline-block;
	text-align: center;
	font: 14px '微软雅黑';
	color:#ffffff;
	margin-left: 14px;
	text-decoration:none;
}
.jujiao{
	width: 100%;
	height: 440px;
}
.one{
	width:1200px;
	height:57px;
	margin:0 auto;
	margin-top:12px;
	background: #e2e2e2;
}
.weibo{
	display: inline-block;
	width: 300px;
	height: 57px;
	float: right;
	margin-top: 17px;
}
.tuwen{
	width:1200px;
	height: 268px;
	margin: 0 auto;
	margin-top: 50px;
}
.wen{
	float: left;
	width: 487px;
	height: 268px;
	margin-left: 34px;
}
.gr{
	list-style-image: url(images/ling.png);
	list-style-position: inside;
}
.shsh{
	width: 300px;
	height: 120px;
	float: right;
	margin-right:10px;
}
.wenwen{
	width: 487px;
	height: 65px;
}
.abc{
	width: 342px;
	height:65px;
	float: left;
}
.av{
	display: inline-block;
	width: 145px;
	height: 65px;
	float: left;
}
.au{
	display: inline-block;
	width: 320px;
	height: 20px;
	float: left;
	margin-top: 10px;
}
.iop{
	width: 145px;
	display: inline-block;
	float: left;
	height: 150px;
}
.pl{
	width: 260px;
	height:150px;
	float: left;
	line-height: 30px;
}
.aixia{
	width: 405px;
	height: 170px;
	display: inline-block;
	float: left;
}
.button{
	width:76px;
	height:24px;
	background-color: #34caef;
	margin-top:168px;
	font:14px '微软雅黑';
	color:#ffffff;
	border-radius: 5px;

	
}
.gr{
	color: #8d8eb9;
	font-size: 14px;
}
.tu{
	float: right;
	width: 679px;
	height:  268px;
}

.poo{
	width:100%;
	height:314px;
}
.po{
	width:1200px;
	height:314px;
	margin :0 auto;
	background-color: #ffffff;
}
.po .zuo{
	float:left;
	margin-top: 150px;
	margin-left:28px;
	margin-right: 16px;
}
.po .you {
	float:left;
	margin-top: 150px;
	margin-right:28px;
}
.po .zxone{
	float:left;
	width:300px;
	height:314px;
	margin-right: 50px;
}
.po .zxxone{
	float:left;
	width:300px;
	height:314px;
	margin-left:20px;
}
.zxxthree{
	margin-top: 40px;
	margin-left:5px; 
}

.zxone p{
	margin-left: 76px;
	color:#333333;
	margin-bottom: 16px;
	margin-top:16px;
	font-weight: bold;
}
.zxxone p{
	margin-left: 76px;
	color:#333333;
	font-size: 16px;
	margin-bottom: 16px;
	margin-top:16px;
	font-weight: bold;
}
.po li{
	color:#c5c4c4;
	font-size: 14px;
}
.kang{
	width:1200px;
	height:600px;
	margin :0 auto;
	background-color: #ffffff;
}
.kangk{
	margin-left: 14px;
	float: left;
}
.xiaozi{
	width:580px;
	height:148px;
}
.guojia{
	font: 16px '微软雅黑';
	font-weight: bold;
	color: #333333;
	margin-left: 14px;
	margin-top: 20px;
}
.riqian{
	font-weight: normal;
	color:#c5c4c4;
	font-size: 16px;
	line-height: 20px;
	margin-left: 14px;
	margin-top: 20px;
}
.buttonk{
	width:76px;
	height:24px;
	background-color: #34caef;
	float: right;
	font:14px '微软雅黑';
	color:#ffffff;
	border-radius: 5px;
}
.kangtai{
	width: 585px;
	height: 540px;
	float: left;
}
.lxm1{
	width: 152px;
	height: 540px;
	float: left;
	margin-top: 60px;
}
.lxm2{
	width: 152px;
	height: 194px;
}
.lxm3{
	width: 152px;
	height: 171px;
}
.lxm4{
	width: 152px;
	height:  175px;
}
.lxm01{
	font: 40px '微软雅黑';
	font-weight: normal;
	color: #e9eaee;
	padding-top: 35px;
	margin-left: 60px;
}
.lxm5{
	width: 463px;
	height: 194px;
	float: left;
	margin-top: 60px;
}
.lxm6{
	width: 463px;
	height: 171px;
	float: left;
}
.lxm7{
	width: 463px;
	height: 175px;
	float: left;
}
.lxmbiaoti{
	font: 16px '微软雅黑';
	font-weight: bold;
	color: #333333;
	padding-top: 15px;
	margin-bottom: 25px;
	display: block;
}
.lxmriqi{
	width: 91px;
	height: 27px;
	float: right;
	margin-top: 5px;
	margin-right: 50px;
}

.lxmxiaozi{
	font: 14px '微软雅黑';
	font-weight: normal;
	color: #d7d7de;
}
.lxmwenzi{
	font: 14px '微软雅黑';
	font-weight: normal;
	color: #a9a9a9;
	line-height: 25px;
}
.lxmlan{
	width:76px;
	height:24px;
	background-color: #34caef;
	float: right;
	font:14px '微软雅黑';
	color:#ffffff;
	border-radius: 5px;
	margin-right: 50px;
}
.lxmriqi1{
	width: 91px;
	height: 27px;
	float: right;
	margin-top: 5px;
	margin-right: 50px;
}
.lxmriqi2{
	width: 91px;
	height: 27px;
	float: right;
	margin-top: 5px;
	margin-right: 50px;
}
.lxmlan1{
	width:76px;
	height:24px;
	background-color: #34caef;
	float: right;
	font:14px '微软雅黑';
	color:#ffffff;
	border-radius: 5px;
	margin-right: 50px;
}
.lxmlan2{
	width:76px;
	height:24px;
	background-color: #34caef;
	float: right;
	font:14px '微软雅黑';
	color:#ffffff;
	border-radius: 5px;
	margin-right: 100px;
}
.wo1{
	width:1200px;
	height:380px;
	margin:0 auto;
	margin-top: 5px;
	background-color: #ffffff; 
}
.wo2 img{
	width: 1198px;
	height: 62px;
	margin: 0 auto;
	background-color: #f9f9f9;
	float: left;
}
.wo3{
	width: 570px;
	height: 318px;
	margin-left: 15px;
	margin-right: 10px;
	float: left;
}
.wo3 img{
	width: 305px;
	height: 222px;
	margin-right: 30px;
	float: left;
}
.wo4{
	width: 230px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 50px;
	float: left;
}
.wo5{
	width: 230px;
	height: 110px;
	font-size: 17px;
	float:left; 
}
.buttonk img{
	width: 13px;
	height: 13px;
	margin: 0px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.wo6{
	width: 230px;
	height: 75px;
	font-size: 19px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
.wo7{
	width: 230px;
	height: 20px;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 15px;
	float: left;
}
.wo8{
	width: 230px;
	height: 17px;
	font-size: 16px;
	float:left; 
}
.wo9{
	width: 230px;
	height: 20px;
	font-size: 19px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}
.wo10{
	width: 230px;
	height: 17px;
	font-size: 16px;
	float:left; 
}
.buttonk img{
	width: 13px;
	height: 13px;
	margin: 0px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.last{
	width:100%;
	height:368px;
	background:#0b4199;

}
.top{
	width:100%;
	width:1200px;
	height:60px;
	padding: 14px 70px 14px 70px;

}
.top img{
	float:left;
	margin-right: 10px;
}
.top p{
	float:left;
	color:#ffffff;
	font:18px '微软雅黑';

}
.four{
	margin-left: 320px;

}
.five{
	margin-left: 320px;
}
.bottom{
	width:100%;
	height:320px;
	background: #454545;
    
}
.q{
	width:1200px;
	height:320px;
	margin: 0 auto;
	background: #454545;
}
.left{
	width:120px;
	height: 220px;
	margin-right:68px;
	padding-top: 64px;
	float:left;
}
.left p{
	color:#ffffff;
	font:16px '微软雅黑';
	margin-bottom: 20px;
}
.left ul{
	color:#ffffff;
	font:14px '微软雅黑';
}
.h{
	width:120px;
	height: 220px;
	margin-right:24px;
	padding-top: 64px;
	float:left;
}
.h p{
	color:#ffffff;
	font:16px '微软雅黑';
	margin-bottom: 20px;
}
.h ul{
	color:#ffffff;
	font:14px '微软雅黑';
}
.line{
	padding-top: 36px;
	float:left;
	margin-right: 30px;
}
.right{
	float:left;
	
	width:270px;
	height:260px;
	padding-top: 26px;
}
.right p{
	color:#ffffff;
	font:12px '微软雅黑';

}
.right .k{
	margin-top: 26px;
	margin-bottom: 28px;
}
.right span{
	margin-left:16px;
}
.right .l{
	margin-left: 58px;
}
.jiewei{
	width:1200px;
	height:30px;
	margin: 0 auto;
}
.z{
	width:238px;
	height:30px;
	margin-left: 74px;
	color:#ffffff;
	font:12px '微软雅黑';
	float:left;
}
.x{
	width:532px;
	height:30px;
	margin-left:140px;
	color:#ffffff;
	font:12px '微软雅黑';
	float:left;
>>>>>>> 53835df0ec1b73557969df4cdb6209504edff4a2
}