*{
	margin:0;
	padding:0;

}
ul,li,ol{
	list-style: none;
}

.daohang{
	width:1200px;
	height:104px;
	margin: 0 auto;
}
.daohang img{
	float:left;
}
.daohang p{
	color:#0b4199;
	font-family: '微软雅黑'；
	font-size:22px;
	display: inline-block;
	margin-top:50px;
	margin-left: 186px;
	margin-right: 28px;


}
.daohang ul{
	margin-top: 50px;
	margin-right: 0px;
}
.b{

	float:left;
}
.b li{

	display: inline-block;
	color:#7d7d7d;
	font-size: 16px;

}


ul .red{
	color:red;
	margin-left:10px;

}
 .c{
	border-left: 1px solid #7d7d7d;
	width: 56px;
	text-align: center;
}
.caidan{
	width:1200px;
	height:50px;
	margin: 0 auto;
	
}
.caidan ul{
	height:50px;
	width:944px;
}
.caidan img{
	margin-top: 6px;
}
.d{
	float:left;
}


.d li{
	display: inline-block;
	height:50px;
	width:80px;
	text-align: center;
	line-height: 45px;
	margin-right:28px; 
}
.d li:hover{
	background-color: #2756a4;
	
}
a{

    
	color:#434343;
	text-decoration:none;
	font:16px '微软雅黑';
	
}
a:hover{
	color:white;
}
.zhengti{
	background-color: #f9f9f9;
	width:100%;
	height:2792px;
	padding-top: 16px;
	position: relative;
}
.zhengti .piaofu{
	position: absolute;
	left:1264px;
	top:164px;
}
.chanpin{
	width: 1200px;
	height:164px;
	margin: 0 auto;
	border-bottom:1px dashed #cccccc;
}
.chanpin .e{
	color:#999999;
	font:14px '微软雅黑';
	
}
.chanpin .blue{
	color:#2756a4;
	font:14px '微软雅黑';
    width:1200px;
    float：left；
    height:30px;
}
.chanpin .zhongwen{
	color:#3e3e3e;
	font:24px '微软雅黑';
	font-style: bold;
	margin-top:60px;
}
.chanpin img{
	float:right;
	margin-top: 16px;
	margin-left: 3px;
}
.f{
	background: url(../images/top.png) no-repeat;
	width:1200px;
	height:40px;
	margin :0 auto; 
	margin-top: 58px;
}
.f p{
	float :left;
	margin-left: 58px;
	margin-top: 8px;
}
.f a{
	color:#ffffff;
	font :14px '微软雅黑';
}
.g{
	width:1200px;
	margin: 0 auto;
	background: #ffffff;
	height:2220px;

}
.g .one{
	width:730px;
	height:400px;
	float:left;

}
.one .xiaoyu{
	margin-top: 200px;
	margin-left: 28px;
	float:left;
}
.one .center{
	margin-top:106px;
	margin-left:68px;
	margin-right: 68px; 
}
.one .dayu{
	margin-bottom:64px;
	margin-right: 28px;
}
.two{
	width:470px;
	height:400px;
	float:left;
}
.two .title{
	font:24px '微软雅黑';
	text-align: center;
	margin-top: 54px;
	margin-bottom: 46px;
	color:#3e3e3e;
}
.two .three{
	font:14px '微软雅黑';
	color:#3e3e3e;
	line-height:28px;
}
.four{
	margin-left: 30px;
	float:left;
}
.five{
	float:left;
}
.lianjie{
	background: #2756a4;
	width:230px;
	height:52px;
	border-radius: 40px;
	margin-left: 234px;
	margin-top: 2px;
	padding-bottom: 16px;

}
/*.lianjie a{
	display: block;
	color:#ffffff;
	font:16px;
	font-weight: bold;
	margin-left: 80px;
	width:68px;
	height:20px;
}*/