*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.wdm{
	height: 158px;
	width: 100%;
	background-color: #ffffff;
}
.wdm1{
	height: 103px;
}
.wdm1 img{
	height: 54px;
	width: 510px;
	margin-left: 100px;
	margin-top: 31px;
	margin-bottom: 18px;
	float: left;
}
.wdm1 p{
	color:#0b4199;
	height: 22px;
	font-size: 22px;
	margin-left: 80px;
	margin-top: 54px;
	margin-bottom: 27px;
	float: left;
}
.wdm2{
	color:#7d7d7d;
	text-align: center;
	height: 22px;
	margin-left: 5px;
	margin-right: 0px;
	width: 71px;
	float: left;
	margin-bottom: 27px;
	margin-top: 54px;
}
.wdm3{
	width: 80px;
	height: 22px;
	color:#ef2c34;
	float: left;
	margin-bottom: 27px;
	margin-top: 54px;
	background: url(../images/w25.png) no-repeat right center;
}
.wdm4{
	width: 50px;
	height: 22px;
	color:#7d7d7d;
	text-align: center;
	float: left;
	margin-bottom: 27px;
	margin-top: 54px;
	background: url(./images/w25.png) no-repeat right center;
}
.wdm5{
	width: 50px;
	height: 22px;
	color:#7d7d7d;
	text-align: center;
	float: left;
	margin-bottom: 27px;
	margin-top: 54px;
}
.wdm6{
	width: 100%;
	height: 50px;
	margin: 0px;
}
.wdm7{
	width: 97px;
	height: 47px;
	margin-left: 70px;
	text-align: center;
	color:black;
	line-height: 45px;
	float: left;
}
.wdm8{
	width: 97px;
	height: 47px;
	margin-left: 10px;
	color:black;
	text-align: center;
	line-height: 45px;
	float: left;
}
.wdm9{
	width: 97px;
	height: 47px;
	margin-left: 10px;
	text-align: center;
	line-height: 45px;
	float: left;
}
.wdm10{
	width: 97px;
	height: 47px;
	margin-left: 10px;
	text-align: center;
	line-height: 45px;
	float: left;
}
.wdm11{
	width: 97px;
	height: 47px;
	background-color: #2756a4;
	text-align: center;
	line-height: 45px;
	margin-left: 10px;
	float: left;
}
.wdm12{
	width: 97px;
	height: 47px;
	margin-left: 10px;
	text-align: center;
	line-height: 45px;
	float: left;
}
.wdm13{
	width: 97px;
	height: 47px;
	margin-left: 10px;
	text-align: center;
	line-height: 45px;
	float: left;
}
.wdm14{
	width: 97px;
	height: 47px;
	margin-left: 10px;
	text-align: center;
	line-height: 45px;
	float: left;
}
.wdm6 img{
	width: 254px;
	height: 38px;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 7px;
	float:left;
}
.wdm15{
	height: 1878px;
	margin:0px;
	background-color: #f9f9f9;
}
.wdm16{
	height: 220px;
	margin:0px;
}
.wdm17{
	height: 81px;
	margin: 0px;
}
.wdm18{
	height: 14px;
	width: 41px;
	margin-top: 15px;
	margin-left: 100px;
	margin-bottom: 67px; 
    float:left;
	color:#a7a7a7;
}
.bwdmj7{
	color:black;
}
.wdm17 img{
	height: 10px;
	width: 10px;
	float: left;
	margin-bottom: 70px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 23px; 
}
.wdm19{
	height: 14px;
	width: 85px;
	margin-top: 15px;
	float:left;
	color:#a7a7a7; 
}
.wdm20{
	height: 14px;
	width: 69px;
	margin-top: 15px;
	float:left;
	color:#a7a7a7;
}
.wdm21{
	height: 14px;
	width: 69px;
	margin-top: 15px;
	float:left;
	color:#a7a7a7;
}
.wdm22{
	height: 14px;
	width: 120px;
	margin-top: 15px;
	color:#0b4199;
	float:left;
}
.wdm23{
	height: 24px;
	width: 172px;
	margin-left: 100px;
	margin-bottom: 10px;
	font-size: 24px;
}
.wdm24{
	height: 19px;
	margin-right: 110px;
	margin-bottom: 12px;
}
.wdm24 img{
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float:right;
}
.wdm25{
	width: 1198px;
	height: 2px;
	margin-left: 100px;
	margin-bottom: 58px;
}
.wdm26{
	height: 39px;
	width:948px;
	margin-left: 100px;
}
.wdm27{
	height: 1300px;
	width: 990px;
	background-color: #ffffff;
	margin-left:100px;
	margin-right: 80px; 
}
.wdm28{
	width: 22px;
	height: 42px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 263px;
	margin-bottom: 150px;
	float: left;
}
.wdm29{
	width: 504px;
	height: 339px;
	margin-top: 100px;
	margin-bottom: 50px;
	float: left;
}
.wdm30{
	width: 22px;
	height: 42px;
	margin-top: 263px;
	margin-bottom: 150px;
	float: left;
}
.wdm31{
	width: 400px;
	height:59px;
	font-size: 21px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 75px;
	margin-bottom: 75px;
	float: left;
}
.wdm32{
	width: 430px;
	height:96px;
	font-size: 15px;
	margin-left: 5px;
	margin-bottom: 50px;
	float: left;
}
.wdm33{
	width: 228px;
	height:50px;
	margin-left: 180px;
	margin-bottom: 50px;
	float: left;
}
.wdm34{
	width: 990px;
	height:4px;
	float: left;
} 
.wdm35{
	height: 22px;
	width: 88px;
	color: #2756a4;
	font-size: 22px;
	margin-top: 30px;
	margin-left: 29px;
	margin-bottom: 29px;
	margin-right: 873px;
	float: left;
}
.wdm36{
	height: 47px;
	width: 970px;
	font-size: 16px;
	margin-left: 29px;
	margin-right: 11px;
	margin-bottom: 45px;
	float: left;
}
.wdm37{
	height: 16px;
	width: 96px;
	font-size: 16px;
	margin-left: 29px;
	margin-right: 865px;
	margin-bottom: 14px;
	float: left;
}
.wdm38{
	height: 16px;
	width: 437px;
	font-size: 16px;
	margin-left: 63px;
	margin-right: 490px;
	margin-bottom: 13px;
	float: left;
}
.wdm39{
	height: 16px;
	width: 300px;
	font-size: 16px;
	margin-left: 63px;
	margin-right: 627px;
	margin-bottom: 13px;
	float: left;
}
.wdm40{
	height: 16px;
	width: 250px;
	font-size: 16px;
	margin-left: 63px;
	margin-right: 677px;
	margin-bottom: 65px;
	float: left;
}
.wdm41{
	height: 27px;
	width: 990px;
	float: left;
}
.wdm27 li{
	height: 25px;
	width: 90px;
	font-size: 21px;
	margin-top: 87px;
	margin-left: 29px;
	margin-right: 871px;
	float: left;

}
.wdm42{
	height: 195px;
	width: 260px;
	float: left;
	border-style:solid;
	border-width:2px; 
	border-color:#c9c9c9;
	margin-left: 32px;
	margin-top: 20px;
	margin-right: 80px;
	margin-bottom: 95px;
}
.wdm42 img{
	height: 94px;
	width: 162px;
	margin-top: 22px;
	margin-left: 49px;
	margin-right: 49px;
}
.wdm43{
	height: 15px;
	width: 180px;
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 16px;
	margin-left: 40px;
}
.wdm44{
	height: 15px;
	width: 64px;
	font-size: 15px;
	margin-bottom: 16px;
	margin-left: 98px;
	margin-right: 98px;
	color: #0b4199;
}
.wdm45{
	height: 195px;
	width: 260px;
	float: left;
	border-style:solid;
	border-width:2px; 
	border-color:#c9c9c9;
	margin-top: 20px;
	margin-right: 80px;
	margin-bottom: 95px;
}
.wdm45 img{
	height: 89px;
	width: 136px;
	margin-top: 27px;
	margin-left: 62px;
	margin-right: 62px;
}
.wdm46{
	height: 15px;
	width: 180px;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 14px;
	margin-left: 40px;
}
.wdm47{
	height: 15px;
	width: 64px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-left: 98px;
	margin-right: 98px;
	color: #0b4199;
}
.wdm48{
	height: 195px;
	width: 260px;
	float: left;
	border-style:solid;
	border-width:2px; 
	border-color:#c9c9c9;
	margin-top: 20px;
	margin-bottom: 95px;
}
.wdm48 img{
	height: 106px;
	width: 163px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 47px;
	margin-right: 49px;
}
.wdm49{
	height: 15px;
	width: 220px;
	font-size: 15px;
	margin-bottom: 14px;
	margin-left: 40px;
}
.wdm50{
	height: 15px;
	width: 64px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-left: 98px;
	margin-right: 98px;
	color: #0b4199;
}
.wdm51{
	height: 250px;
	width: 990px;
	margin-bottom: 62px;
	background-color: #f2f2f2;
}
.wdm52{
	height:60px;
	margin:0px;
	background-color: #0b4199;
}
.wdm53{
	height: 28px;
	width: 32px;
	margin-left: 100px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 10px;
	float: left;
}
.wdm54{
	height: 16px;
	width: 120px;
	margin-top: 22px;
	margin-bottom: 22px;
	margin-right: 160px;
	float: left;
}
.wdm55{
	height: 28px;
	width: 29px;
	margin-top: 16px;
	margin-right: 12px;
	margin-bottom: 16px;
	float: left;
}
.wdm56{
	height: 16px;
	width: 130px;
	font-size: 16px;
	margin-top: 22px;
	margin-bottom: 22px;
	margin-right: 280px;
	float: left;
}
.wdm57{
	width: 90px;
	height: 16px;
	font-size: 16px;
	float: left;
	margin-top: 19px;
	margin-bottom: 24px;
	margin-right: 20px;
}
.wdm58{
	width: 29px;
	height: 29px;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 10px;
}
.wdm59{
	width: 29px;
	height: 29px;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 10px;
}
.wdm60{
	width: 29px;
	height: 29px;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
}
.wdm61{
	height: 305px;
	margin: 0px;
	background-color: #454545;
}
.wdm62{
	height: 250px;
	width: 1000px;
	margin-left: 100px;
}
.awdm58{
	width: 100%;
	height: 238px;
	margin: 0px auto;
	background-color: #454545;
}
.awdm59{
	width: 115px;
	height: 178px;
	margin-left: 70px;
	margin-top: 60px;
	margin-right: 50px;
	float: left;
}
.awdm60{
	width: 130px;
	height: 20px;
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm61{
	width: 60px;
	height: 18px;
	font-size: 15px;
	color: #ffffff;
	margin-right: 40px;
	margin-bottom: 10px;
	float: left;
}
.awdm62{
	width: 90px;
	height: 178px;
	margin-top: 60px;
	margin-right: 50px;
	float:left;
}
.awdm63{
	width: 75px;
	height: 20px;
	font-size: 18px;
	color:#ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm64{
	width: 60px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-right: 30px;
	margin-bottom: 10px;
	float:left;
}
.awdm65{
	width: 90px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-bottom: 10px;
	float:left;
}
.awdm66{
	width: 130px;
	height: 178px;
	margin-right: 50px;
	margin-top: 60px;
	float:left;
}
.awdm67{
	width: 75px;
	height: 20px;
	font-size: 18px;
	color:#ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm68{
	width: 60px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-right: 30px;
	margin-bottom: 10px;
	float:left;
}
.awdm69{
	width: 130px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-bottom: 10px;
	float:left;
}
.awdm70{
	width: 90px;
	height: 178px;
	margin-top: 60px;
	margin-right: 50px;
	float: left;
}
.awdm71{
	width: 90px;
	height: 20px;
	font-size: 18px;
	color:#ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm72{
	width: 60px;
	height: 18px;
	font-size: 15px;
	color: #ffffff;
	margin-right: 40px;
	margin-bottom: 10px;
	float: left;
}
.awdm73{
	width: 75px;
	height: 18px;
	font-size: 15px;
	color: #ffffff;
	margin-right: 25px;
	margin-bottom: 10px;
	float: left;
}
.awdm74{
	width: 130px;
	height: 178px;
	margin-top: 60px;
	margin-right: 25px;
	float: left;
}
.awdm75{
	width: 75px;
	height: 20px;
	font-size: 18px;
	color:#ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm76{
	width: 130px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-bottom: 10px;
	float:left;
}
.awdm77{
	width: 60px;
	height: 18px;
	font-size: 15px;
	color: #ffffff;
	margin-right: 40px;
	margin-bottom: 10px;
	float: left;
}
.awdm78{
	width: 1px;
	height:198px;
	margin-top: 40px;
	margin-right: 30px;
	float:left;
}
.awdm79{
	width: 160px;
	height: 71px;
	margin-bottom: 30px;
	float: left;
}
.awdm79 img{
	width: 147px;
	height: 47px;
	margin-right: 13px;
	margin-bottom: 7px;
	float:left;
}
.awdm80{
	width: 160px;
	height: 16px;
	font-size: 13px;
	color: #ffffff;
	float:left;
}
.awdm81{
	width: 280px;
	height: 40px;
	margin-bottom: 15px;
	color:#ffffff;
	float:left;
}
.awdm82{
	width: 50px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm83{
	width: 280px;
	height: 15px;
	font-size: 13px;
	color: #ffffff;
	margin-bottom: 10px;
}
.awdm84{
	width: 200px;
	height: 15px;
	font-size: 13px;
	color: #ffffff;
}
.awdm85{
	width: 280px;
	height: 40px;
	color:#ffffff;
	float:left;
}
.awdm86{
	width: 50px;
	height: 18px;
	font-size: 15px;
	color:#ffffff;
	margin-bottom: 20px;
	float:left;
}
.awdm87{
	width: 280px;
	height: 15px;
	font-size: 13px;
	color: #ffffff;
	margin-bottom: 10px;
}
.awdm88{
	width: 200px;
	height: 15px;
	font-size: 13px;
	color: #ffffff;
}
.awdm89{
	width: 80px;
	height: 12px;
	margin-left:200px;
	margin-bottom: 10px;
	margin-top: 60px;
	margin-right: 10px;
	float:left;
}
.awdm90{
	width: 110px;
	height: 12px;
	font-size: 10px;
	color: #b5b5b5;
	float: left;
}
.awdm91{
	width: 280px;
	height:200px;
	margin-top: 38px;
	float: left;
}
.awdm92{
	width: 200px;
	height: 12px;
	font-size: 10px;
	color: #b5b5b5;
	float: left;
}
.awdm93{
	width: 100%;
	height: 90px;
	margin: 0px auto;
	background-color: #454545;
}
.awdm94{
	width: 130px;
	height: 12px;
	margin-bottom: 10px;
	margin-top: 60px;
	margin-right:100px;
	float: left;
}
.awdm95{
	width: 350px;
	height: 12px;
	margin-bottom: 10px;
	margin-top: 60px;
	margin-right: 10px;
	float: left;
}
.awdm96{
	width:350px;
	height: 12px;
	font-size: 10px;
	color: #b5b5b5;
	float: left;
}
.awdm97{
	width: 45px;
	height:12px;
	margin-right: 3px;
	margin-bottom: 10px;
	margin-top: 60px;
	float:left;
}
.awdm98{
	width:45px;
	height: 12px;
	font-size: 10px;
	color: #b5b5b5;
	float: left;
}
.awdm99{
	width: 2px;
	height: 12px;
	margin-bottom: 10px;
	margin-top: 60px;
	float: left;
}
.awdm100{
	width: 60px;
	height:12px;
	margin-left: 10px;
	margin-right: 3px;
	margin-bottom: 10px;
	margin-top: 60px;
	float:left;
}
.awdm101{
	width:60px;
	height: 12px;
	font-size: 10px;
	color: #b5b5b5;
	float: left;
}
.awdm102{
	width: 100%;
	height: 1900px;
	margin:0 auto;
	background-color: #f9f9f9;
}
.awdm102 .piaofu{
	position: fixed;
	right:1px;
	top:164px;
}
.piaofu .ab{
	background: #8d8d8d;
	border-bottom:1px dotted #ffffff; 
	width:84px;
	height:80px;
}
.piaofu .ac{
	background: #b0b0b0;
	border-bottom:1px dotted #ffffff; 
	width:84px;
	height:80px;
}
.ad{
	background: #b0b0b0;
	border-bottom:1px dotted #ffffff; 
	width:84px;
	height:64px;
}
.ad a{
	width:84px;
	height:18px;
	display: inline-block;
	font: 10px '微软雅黑';
	color:#8d8d8d;
	text-decoration:none;
	background: #a4a4a4;
}

.ab img{
	margin-top: 10px;
	margin-left: 20px;
}
.ac img{
	margin-top: 10px;
	margin-left: 20px;
}
.ad img{
	margin-top: 20px;
	margin-left: 26px;
	margin-bottom: 10px;
}
.ab a{
	display: inline-block;
	font: 14px '微软雅黑';
	color:#ffffff;
	margin-left: 14px;
	text-decoration:none;
}
.ac a{
	display: inline-block;
	text-align: center;
	font: 14px '微软雅黑';
	color:#ffffff;
	margin-left: 14px;
	text-decoration:none;
}