*{
	margin:0;
	padding:0;

}
ul,li,ol{
	list-style: none;
}
.daohang{
	width:1200px;
	height:104px;
	margin: 0 auto;
}
.daohang img{
	float:left;
}
.daohang p{
	color:#0b4199;
	font-family: '微软雅黑'；
	font-size:22px;
	display: inline-block;
	margin-top:50px;
	margin-left: 186px;
	margin-right: 28px;


}
.daohang ul{
	margin-top: 50px;
	margin-right: 0px;
}
.b{

	float:left;
}
.b li{

	display: inline-block;
	color:#7d7d7d;
	font-size: 16px;

}


ul .red{
	color:red;
	margin-left:10px;

}
 .c{
	border-left: 1px solid #7d7d7d;
	width: 56px;
	text-align: center;
}
.caidan{
	width:1200px;
	height:50px;
	margin: 0 auto;
	
}
.caidan ul{
	height:50px;
	width:944px;
}
.caidan img{
	margin-top: 6px;
}
.d{
	float:left;
}


.d li{
	display: inline-block;
	height:50px;
	width:80px;
	text-align: center;
	line-height: 45px;
	margin-right:28px; 
}
.d li:hover{
	background-color: #2756a4;
	
}
 .d a{

    
	color:#434343;
	text-decoration:none;
	font:16px '微软雅黑';
	
}
.d a:hover{
	color:white;
}

.chanpin{
	height: 760px;
	width: 100%;
	background: #f9f9f9;
}
.jiliang{
	width: 1200px;
	height: 165px;
	margin:0 auto;
	border-bottom: 1px dotted #3e3e3e
}
/*a:link{text-decoration: none;color: white;}
a:visted{color: #999999;}
a:hover{color: white;background-color: blue;}*/
.jiliang h2{
	color:#9e9e9e;
}
.shang{
	font-size: 24px;
	margin-top:80px;
}
.xia{
	font-size: 16px;
}
.ji{
	margin-top: 10px;
	font-size: 14px;
	color:#999999;
	
}
.blue{
	margin-top: 10px;
	font-size: 14px;
	color:blue;
}
.baii{
	height: 345px;
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	margin-top: 30px;
}
.hui{
	width: 380px;
	height: 275px;
	display: inline-block;
	background-color: #f9f9f9;
	margin-top: 30px;
	margin-left: 10px;
}
.po{
	margin-top: 20px;
	margin-left: 13px;

}
.hui a{
	color: blue;
	text-decoration: none;
}
.hui p{
	display: inline-block;
	
	margin-left: 120px;
	margin-top: 15px;
}
.piaofu{
	width: 84px;
	height:310px;
	background-color: #8d8d8d;
	position: fixed;
	float: right;
	right: 30px;
	top: 290px;
}
.xiao{
	width: 84px;
	height: 82px;
}
.xiao a:link{text-decoration: none;}
.baibai{
	color: white;
	margin-left: 10px;
}
.heihei{
	margin-top: 5px;
	margin-left: 20px;
}
.piaotu{
	width: 45px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.btt{
	width: 84px;
	color: white;
	font-size: 10px;
	margin-left: 8px;
}
.lianjie{
	height: 60px;
	width: 100%;
	background-color: #0b4199;
}
.dianhua{
	margin-left: 156px;
	width: 1200px;
	height: 58px;
	margin:0 auto;
}
.bai{
	float: left;
	margin-top: 15px;
	margin-right: 10px;
}
.zuo{
	float: left;
	margin-right: 160px;
}
.you{
	float: right;
	margin-left: 16px;
	margin-top: 10px;
}
.dianhua p{
	color: white;
	margin-top: 20px;
}
.hei{
	background-color: #454545;
	width:100%;
	height: 306px;
}
.zhong{
	width: 1200px;
	margin: 0 auto;
	height: 306px;
}
.two{
	height: 260px;
}
.lie{
	float: left;
	width: 895px;
	height: 260px;
	border-right: 1px dotted #4e4e4e
}
.biao{
	color: white;
	padding-top: 50px;
	width: 175px;
	display: inline-block;
	float:left;
	height: 260px;
}
.biao p{
	font-size: 16px;
	margin-bottom: 22px;
}
.biao li{
	font-size: 14px;
}
.bottom{
	height: 210px;
	padding-top: 50px;
	margin-left: 35px;
	width: 260px;
	float: right;
}
.bottom p{
	color: white;
}
.lb{ 
	float: left;
	width: 270px;
}
.da{
	width: 330px;
	height: 120px;
	float: left;
}
.di{
	width: 50px;
	height: 115px;
	float: left;
}
.company{
	float: left;
}
.di p{
	margin-top: 30px;
}
.kk{
	margin-top: 10px;
}
.y{
	width: 280px;
	height: 85px;
	float: left;
	margin-top: 30px;
}
.one{
	color: white;
	font-size: 12px;
	margin-left: 50px;
}
.one p{
	display: inline-block;
	margin-right: 130px;
}
#lr{
	display: inline-block;
	margin-right: 0px;
}
